<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav">
                <li class="home"> <a href="/">Home</a></li>
                <li class="dash"><a href="/profile">Dashboard</a></li>
                {{#if logged_in}}
                <li ><a role="button" id="logout">Logout</a></li>

                {{else}}
                <li class="logout"><a href="/login">Login</a></li>

                {{/if}}
                
                
            </ul>
        </nav>
    
  
    <h1>
      Tech Blog
    </h1>
  
    {{!-- <nav>
      <button class="btn btn-warning" id="logout">logout</button>
    </nav> --}}
  
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/profile.js"></script>
  {{/if}}
</body>

</html>
