

<div class="card">
  <div class="card-header text-center">
    {{title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{comment}} </p>
      <footer class="blockquote-footer">{{format_date date_created}} <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
     <a href="/" class="card-link">Back</a>
    <a href="#" class="card-link">Add comment</a>
  </div>
</div>
