
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-4">Login Form</h3>
          <form>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
          <button class="btn btn-primary" id="login" type="submit">login</button>
          </form>
        </div>
      </div>
    </div>
    {{!-- sign up --}}
     <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-4">Login Form</h3>
          <form>
            <div class="form-group">
              <label for="username">username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control" id="sighupemail" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="sighuppassword" placeholder="Enter password">
            </div>
          <button class="btn btn-secondary btn-block" id="sighup" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/login.js"></script>