<div class="row">
  <div class="col-auto">
    <h2>Welcome!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="email" class="form-control" id="title" placeholder=Add Title>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
  <textarea class="form-control" id="comment" rows="3"></textarea>
</div>
    <button class="btn btn-dark" id="submitcomment" type="submit">Submit</button>

  </div>


  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      <div>{{blog.comment}}</div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger project-list"  data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
 

<script src="/profile.js"></script>