
body{
    background-color: mediumaquamarine;
}

header {
    padding: 20px;
   
    background-color: rgb(51, 21, 0);
    color: rgb(209, 157, 0);
}
.nav{
    display: flex;
    flex-direction: row;
   
}
.home{
    margin-left: 0px;
   
}
.dash{
    margin-left: 25px;
    margin-right: 25px;
}

a:link {
    text-decoration: none;
    color: rgb(209, 157, 0);
  }
  
  a:visited {
    text-decoration: none;
    color: rgb(209, 157, 0);
  }