
body{
    background-color: rgb(166, 166, 166);
}

header {
    padding: 20px;
   
    background-color: rgb(21,25,29);
    color: rgb(0, 221, 255);
    
}
.nav{
    display: flex;
    flex-direction: row;
   
}
.home{
    margin-left: 0px;
   
}
.dash{
    margin-left: 25px;
    margin-right: 25px;
}

a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  a:visited {
    text-decoration: none;
    color: rgb(253, 253, 251);
  }
  #blogcard{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deletebtn{
    display: none;
  }
  .deletebtn:hover{
    display: block;

  }
  .apple {
    width: 590px;
    margin-bottom: 20px;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    overflow: auto;
   }
   
   .btns {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
    position: relative;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   .card__content{
    margin: 20px;
    margin-bottom: 40px;
   }
   #homepagecard {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 100%;
  }

  #homepagecard h3 {
    color: #343a40;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  #homepagecard .row {
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding: 10px;
  }

  #homepagecard .col-md-8 h4 {
    color: #343a40;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  #homepagecard .col-md-8 hr {
    border-top: 1px solid #dee2e6;
    margin-bottom: 10px;
  }

  #homepagecard .text-light {
    color: #6c757d;
    font-size: 16px;
  }
  .apple :hover #presonaldltbtn{
    transition: 1.5s;
    transition-delay: 2s;
    opacity: 1;
  }
  #presonaldltbtn{
    opacity: 0;
  }
  .x{
    position: absolute;
    bottom: -2.5px;
    right: 2px;
    font-size: 10px;
    opacity: 0;
  }
  .x  :link{
    color: #011522;
  }
  .x :visited{
    color: #011522;
  }
  a :hover{
    opacity: 1;
  }